<html>
    <head>
        <title>Being Zero WebSockets</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

        <!-- Third Party CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
        
        <!-- Our Own CSS -->
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <h1>Welcome to WebSockets</h1>

        <h2><label id='timeFromServer'></label></h2>


        <!-- Third Party JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        
        <!-- Our Own JS -->
        <script src="js/site.js"></script>
    </body>
</html>